table {
    border-spacing: 0;
}
th, td {
    align-content: center;
    padding: 4px 10px;
    text-align: left;
}
th:nth-of-type(1),
td:nth-of-type(1) {
    width: 2rem;
}
th:nth-of-type(2),
td:nth-of-type(2) {
    width: 16rem;
}
th:nth-of-type(3),
td:nth-of-type(3) {
    width: 40rem;
}
.noChannels {
    column-span: all;
}

.category td:not(.channelPosition){
    border-top: 3px solid #ccc;
    background-color: #eee;
}

.dragOver td{
    border-bottom: 2px solid #8f8;
}

.actionrow {
    display: flex;
    gap: 1rem;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.channelTypeIcon {
    text-align: right;
}