.header {
    width: 100%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 4rem;
    padding: 0 1rem;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 1rem
}

.logo {
    width: 3rem;
    height: 3rem;
}

.headerSpan {
    color: #5865f1;
}