.label {
    padding: .1rem .3rem;
    color: black;
    border-radius: .25rem;
    font-size: 0.75rem;
    opacity: .6;
}

.label.primary {
    background-color: #007bff;
    color: white;
}
.label.secondary {
    background-color: #6c757d;
    color: white;
}
.label.danger {
    background-color: #dc3545;
    color: white;
}
.label.success {
    background-color: #28a745;
    color: white;
}

.label.small {
    font-size: .5rem;
}
.label.large {
    font-size: 1rem;
}