.treeTable {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(8rem, auto));
    white-space: nowrap;
}

/*.category {*/
/*    grid-column: 1 / auto;*/
/*}*/