.treeTable {
    display: grid;
    grid-auto-flow: column;
    white-space: nowrap;
    width: fit-content;
}

.cell {
    border: 1px solid black;
    padding: 2px 8px 2px 4px;
}

.cell[data-row="1"]{
    background-color: lightgray;
}
.cell[data-row="2"]{
    background-color: #eaeaea;
}